In [107]:
import numpy as np
import pandas as pd
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve

%matplotlib inline

In [136]:
churn = pd.read_csv("data/churn_train.csv")

In [137]:
churn['churn'] =1 * (churn.last_trip_date >= '2014-06-01')
churn.phone = pd.get_dummies(churn.phone) # Android: 1, IPhone: 0
churn.rename(index = str, columns = {'phone': 'Android'}, inplace=True)# change the name

churn = pd.concat([churn, pd.get_dummies(churn.city, drop_first=True)], axis=1)
churn.drop('city', inplace=True, axis = 1)

churn.dropna(how = 'any', inplace= True) # Drop NaN

In [138]:
churn.head()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,last_trip_date,Android,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct,churn,King's Landing,Winterfell
0,6.94,5.0,5.0,1.0,2014-05-03,1,2014-01-12,0.0,0,False,100.0,0,0,0
1,8.06,5.0,5.0,1.0,2014-01-26,1,2014-01-25,0.0,2,True,0.0,0,0,0
6,4.87,4.7,4.0,1.0,2014-04-21,1,2014-01-18,0.0,0,False,66.7,0,0,0
7,1.78,4.0,5.0,1.0,2014-01-12,0,2014-01-11,0.0,3,False,0.0,0,0,1
8,6.87,5.0,4.7,1.0,2014-01-30,1,2014-01-01,0.0,3,False,66.7,0,0,0

In [139]:
churn.describe()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,Android,surge_pct,trips_in_first_30_days,weekday_pct,churn,King's Landing,Winterfell
count,33367.000000,33367.000000,33367.000000,33367.000000,33367.000000,33367.000000,33367.000000,33367.000000,33367.000000,33367.000000,33367.000000
mean,5.466273,4.776168,4.601987,1.073655,0.290527,8.861330,2.615728,61.268909,0.410286,0.212455,0.461024
std,5.144551,0.404764,0.613463,0.197742,0.454012,18.309946,4.082060,34.813958,0.491893,0.409051,0.498486
min,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.420000,4.700000,4.300000,1.000000,0.000000,0.000000,0.000000,37.500000,0.000000,0.000000,0.000000
50%,3.790000,5.000000,4.900000,1.000000,0.000000,0.000000,1.000000,66.700000,0.000000,0.000000,0.000000
75%,6.480000,5.000000,5.000000,1.070000,1.000000,11.100000,3.000000,100.000000,1.000000,0.000000,1.000000
max,79.690000,5.000000,5.000000,8.000000,1.000000,100.000000,125.000000,100.000000,1.000000,1.000000,1.000000

In [140]:
y = churn.churn
X = churn.drop(['churn', 'last_trip_date', 'signup_date'], axis = 1)
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 1)

In [141]:
mod1 = LogisticRegression().fit(X_train, y_train)

In [146]:
mod1.score(X_test, y_test)

0.70450731239510911

In [ ]:
mod1.score